/* Stylize all HTML elements based on the border, box-sizing, padding and margin 
as default to plan the layout of the Calculator page such as aligning the heading and div elements*/
* {
    border: 1px solid black;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Set the heading tp the center of the webpage to make the webpage readable to the user. To also 
allow the webpage to be readable, the font-weight of the heading is bold.*/
h1 {
    text-align: center;
    font-weight: bold;
}

/* Set the left and right margins to 450px for the div element that goes under the class name
calculator to evenly align the element to the heading. Set the margin to 20px to enable spacing 
between the div and heading in the page. Pad the calculator by 10px to make the spacing between the
border and inner div elements neater for the user.*/
.calculator {
    padding:10px;
    margin:20px 450px;
}

/* Have the text box that is read-only allow the number to be readable when displayed there by
adjusting the height to 30px. To equally align with the buttons that are placed on the left and 
right, set the width that is 100% of the div element with class attribute of calculator. To prevent
the user from accidentally clicking the buttons, set the margin-bottom property to a value of
10px.*/
#display {
    width: 100%;
    margin-bottom: 10px;
    height: 30px;
}

/* For the div element with the class attribute, grouped-features, enable the inner div elements, with
classes, .first and .second align to horizontally with each other by setting display property as flex and
direction property as row */
.grouped-features {
    display: flex;
    flex-direction: row;
}
/* Set the width of the first class to be 80% of the div element where class is grouped-features. 
Also set the display property to flex to enable the flex-wrap property to be used. Set the flex-wrap property
to wrap-reverse so buttons are rearranged into reverse order when the elements overflow the parent element.
To prevent the user for accidentally clicking the number, set the gap to 20px so there is enough spacing
between buttons horizontally and vertically. To evenly pad the group of buttons horizontally and vertically,
set the padding to 65px.*/
.first {
    flex: 4;
    flex-wrap: wrap-reverse;
    padding: 65px;
    display: flex;
    gap: 20px;
}

/*Set the small buttons to height and width of 90px*/
.small{
    width: 90px;
    height: 90px;
}

/*Set the width of the second class element to be 20% of the div element where class is grouped-features.
Have the buttons be placed horizontally. Add top spacing between the parent element and the start of the button by 65px.
Set the spacing between the buttons to 20px. Pad the left by 30px and right by 21px. 
*/