/* Stylize all HTML elements based on the border, box-sizing, padding and margin 
as default to plan the layout of the Calculator page such as aligning the heading and div elements*/
* {
    border: 1px solid black;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Set the heading tp the center of the webpage to make the webpage readable to the user. To also 
allow the webpage to be readable, the font-weight of the heading is bold.*/
h1 {
    text-align: center;
    font-weight: bold;
}