/* Stylize all HTML elements based on the border, box-sizing, padding and margin 
as default to plan the layout of the Calculator page such as aligning the heading and div elements*/
* {
    border: 1px solid black;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Set the heading tp the center of the webpage to make the webpage readable to the user. To also 
allow the webpage to be readable, the font-weight of the heading is bold.*/
h1 {
    text-align: center;
    font-weight: bold;
}

/* Set the left and right margins to 300px for the div element that goes under the class name
calculator to evenly align the element to the heading. Set the margin to 20px to enable spacing 
between the div and heading in the page. Pad the calculator by 10px to make the spacing between the
border and inner div elements neater for the user.*/
.calculator {
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 20px;
    padding:10px;
}

/* Have the text box that is read-only allow the number to be readable when displayed there by
adjusting the height to 30px. To equally align with the buttons that are placed on the left and 
right, set the width that is 100% of the div element with class attribute of calculator. To prevent
the user from accidentally clicking the buttons, set the margin-bottom property to a value of
10px.*/
#display {
    width: 100%;
    margin-bottom: 10px;
    height: 30px;
}

/* For the div element with the class attribute, grouped-features, enable the inner div elements, with
classes, .first and .second align to horizontally with each other by setting display property as flex and
direction property as row */
.grouped-features {
    display: flex;
    flex-direction: row;
}